
html{
    font-family: 'consolas';
    font-size: 20px;

}

#Nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #ff0057!important;
}
.navbar-brand img
{
	height: 70px;
	padding-left: 30px;
}

.titles{
    color: #fff;
    font-size: 2rem;
    padding: 30px;
}
.titles1{
font-size: 1.5rem;
}

.titles2{
padding-top:25px;
padding-bottom:25px;
padding-left:90px;
padding-right:90px;
color: #fff;
font-size: 1.6rem;
}

.titles1 select{
padding:10px;
width: 400px;
height: 60px;
}

.contain{
    height: 700px;
    width: 817px;
}

.contain1{
    height: 650px;
    width: 910px;
}

.contain2{
    height: 617px;
    width: 719px;
}

@media (min-width: 1080px)
{
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
}
.titles2{
padding-top:25px;
padding-bottom:25px;
padding-left:90px;
padding-right:90px;
color: #fff;
font-size: 1rem;
}
.titles{
    color: #fff;
    font-size: 1rem;
    padding: 0px;
}
.titles1{
font-size: 1rem;
}
.contain1{
    height: 450px;
    width: 1180px;
}
.contain{
    height: 468px;
    width: 547px;
}
.contain2{
    height: 468px;
    width: 547px;
}
.titles1 select{
padding: 0px;
width: 230px;
height: 45px;
}
}