
html{
    font-family: 'consolas';
    font-size: 20px;

}

#Nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #ff0057!important;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
}

.titles{
    color: #fff;
    font-size: 1.8rem;
    padding: 20px;
}
.titles1{
font-size: 0.8rem;
}

.titles2{
padding-top:25px;
padding-bottom:25px;
padding-left:90px;
padding-right:90px;
color: #fff;
font-size: 1.4rem;
}

.titles1 select{
padding:10px;
width: 350px;
}

.contain{
    height: 642px;
    width: 749px;
}

.contain1{
    height: 650px;
    width: 850px;
}


@media (min-width: 1080px)
{
.titles{
    color: #fff;
    font-size: 1rem;
    padding: 0px;
}
.titles1{
font-size: 1rem;
}
.contain1{
    height: 450px;
    width: 1180px;
}
.contain{
    height: 468px;
    width: 547px;
}
.titles1 select{
padding: 0px;
width: 230px;
height: 45px;
}
}